data eng stuff.txt
test/
*.parquet
*.csv
*.tar
.venv
.ipynb_checkpoints
1-docker-terraflow/ingestion.ipynb
*.exe
2-workflow-orchestration/flows
2-workflow-orchestration/homework/attempts.sql
credentials/